/* You can add global styles to this file, and also import other style files */
.mark {
  width: 20px;
  height: 20px;
  // background-color: red; /* Color of the mark */
  border-radius: 50%; /* To make it circular */
  position: absolute;
}
