:host {
  --ground-width: 1200px;
  --line-color: rgba(255, 255, 255, .3);
  // --position-player1 : 40%;
  .container {
    max-width: var(--ground-width);
    margin: 24px auto;
    height: 92dvh;
    background-image: url('../../../assets/images/playground.png');
    background-size: cover;
    padding-block: 14px;
  }
  .playground {
    // border: 1px solid rgba(255, 255, 255, .6);
    height: 100%;
    width: 93.4%;
    margin: auto;
    position: relative;
    left: 12px;
  }
  .player {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player1 {
    width: 20px;
    height: 20px;
    top: var(--position-player1);
    left: 25%;
    background-color: white; /* Color of the mark */
    border-radius: 50%; /* To make it circular */
    position: absolute;
  }

  .player2 {
    color: #fff;
    width: 20px;
    height: 20px;
    right: 25%;
    top: var(--position-player1);
    background-color: red; /* Color of the mark */
    border-radius: 50%; /* To make it circular */
    position: absolute;
  }

  .mark {
    width: 20px;
    height: 20px;
    left: var(--position-player1);
    background-color: rgb(0, 255, 34); /* Color of the mark */
    border-radius: 50%; /* To make it circular */
    position: absolute;
  }
  .moving-ball {
    width: 20px;
    height: 20px;
    left: 30%;
    top: 200px;
    background-color: rgb(0, 255, 34); /* Color of the mark */
    border-radius: 50%; /* To make it circular */
    position: absolute;
    transition: transform 3s;
  }
  .move {
    transform: translateY(60%);
  }
}
