<div class="container">
  <div class="playground" (click)="placeBall($event)" (dblclick)="placeBall($event, 'red')">
    <div class="post1">
    </div>
    <div class="panelty-area1"></div>
    <div class="d-area1">
      <div class="panelty-circle"></div>
    </div>
    <div class="center-line">
      <div class="center-circle"></div>
    </div>
    <div class="d-area2">
      <div class="panelty-circle"></div>
    </div>
    <div class="panelty-area2"></div>

    <div class="post2">
    </div>
  </div>
</div>
